* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 30px;  
    background-color: transparent;  
    position: fixed;  
    top: 0;
    width: 100%;
    z-index: 100; 
  }
  
  .logoImage {
    height: 40px;  
    width: auto;
  }
  
  .links {
    display: flex;
    gap: 20px; 
  }
  
.link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: text-decoration 0.3s ease;
  }
  
  .link:hover {
    text-decoration: underline; 
  }
  
  
  .signInButton {
    background-color: #ffa200;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signInButton:hover {
    background-color: #e68900;  
  }
  