html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
  }
  
  .home-container {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: flex-start;  
    height: 100vh; 
    text-align: center;
    padding-top: 20px;  
    overflow: hidden;  
  }
  
  .welcome-text {
    display: flex;  
    flex-direction: row;
    gap: 10px; 
    align-items: center; 
    margin-bottom: 300px;
  }
  
  .welcome-title {
    font-size: 2.5rem;
    color: white;
  }
  
  .virtual-office {
    font-size: 3rem;
    color: #ffa200;  
    font-weight: bold;
  }
  
  .cta-buttons {
    display: flex;
    flex-direction: row;  
    gap: 20px;  
  }
  
  .instant-demo {
    background-color: #ffa200; 
    color: white;  
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    width: 250px;  
  }
  
  .instant-demo:hover {
    background-color: #cc8100;  
  }
  
  .setup-company {
    background-color: transparent;
    border: 2px solid #ffa200; 
    color: #ffa200; 
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    width: 250px; 
  }
  
  .setup-company:hover {
    background-color: #ffa200;  
    color: white;  
  }
  