.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .footerContent a {
    color: white;
    text-decoration: none;
  }
  