@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('/public/bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
